body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f7ed;
    color: #333; /* Dark grey */
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.banner-block {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    background-color: transparent;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}

.nav-link:hover {
    color: #c2a83e;
}

.banner-block.active {
    height: 88px;
    border-bottom: 4px solid #c2a83e;
}

.lotad-title {
    font-size: 48px;
    font-weight: bold;
    color: #243e36;
    text-transform: uppercase;
}
