/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f7ed;
    color: #333;
}

/* Banner and Navigation */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #7ca982;
}

.banner-block {
    flex: 1;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #091f16;
}

.banner-block.active::after {
    content: "";
    position: absolute;
    top: 80px;
    right: 0;
    width: 20%;
    height: 6px;
    background-color: #243e36;
} 

.lotad-title span {
    font-size: 60px;
    font-weight: bold;
    color: #243e36;
    text-transform: uppercase;
}

/* Page Layout 
.advanced-game-page {
    flex-direction: column;
    height: 100%;
    padding: 10px;
}
*/

/* Column Layout */
.columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: calc(90vh);
    padding: 5px;
}

.columns > div {
    border-right: 5px solid #ccc;
}

.columns > div:last-child {
    border-right: none;
}

/* Player and Game State Sections */
.game-state {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    align-items: center;
    gap: 10px;
}

.player-section {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    align-items: center;
    text-align: center;
    gap: 10px;
}    

/* Deck and Discard */
#next-card img {
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.deck-discard {
    display: flex;
    justify-content: space-around;
    width: 60%;
    gap: 50px;
}

.deck-discard div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.scrollable {
    overflow-y: auto;
    max-height: 95%;
    padding: 5px;
    width: 100%;
    border: 2px solid #ccc;
}

/* Towers */
.tower.highlight {
    border-color: #c2a83e;
    box-shadow: 0 0 5px 2px #c2a83e;
    cursor: pointer;
}

.card-container {
    position: absolute;
    transform: translateY(calc(var(--card-index) * 50%)); /* Implement overlap */
}

/* Log Section */
.log-section {
    border: 2px solid #ccc;
    padding: 10px;
    width: 500px;
    overflow-y: auto;
    height: 100px;
    background-color: #f1f7ed;
    font-size: 14px;
}

/* Buttons */
.action-button {
    width: 100px;
    padding: 10px;
    font-size: 14px;
    background-color: #7ca982;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #243e36;
}

#discard-section img {
    width: 60%; 
    height: auto;
    margin: 0 auto;
    display: block;
}

.tower {
    display:flex;
    flex-wrap: wrap;
    flex-directiom:row;
    width:200px;
    height:700px;
}

.card-container img {
	display: flex;
    width: 75%;
    height: auto;
}
    
.towers {
    position:relative;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.tower-title {
    text-align: center;
    font-weight: bold;
    padding: 3px 3px;
    font-size: 20px;
    margin-bottom: 5px;

.tower-scrollable {
    border: 20px;
}